*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px
}

.notice{
	width: 298px;
	height: 98px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}

.notice-tit{
	height: 27px;
	position: relative;
	background: #f7f7f7;
}
.notice-tit ul{
	position: absolute;
	width: 301px;     /* ul:298+2+1px;*/
	left: -1px;
}
.notice-tit li{
	float: left;
	width: 58px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	overflow: height;
	background: #fff;
	padding: 0 1px;
	border-bottom: 1px solid #eee;
}

.notice-tit li.select{
	background: #fff;
	border-bottom-color:#fff;
	border-left: 1px solid #eee; 
	border-right: 1px solid #eee; 
	padding: 0;
	font-weight: bold;/*字体加粗*/
}

.notice li a:link,.notice-tit li a:visited{
	/*text-align: center;*/
	color: #000;
	text-decoration: none;
}
.notice li a:hover{
	color: #f90;
}

.notice-con .mod{
	margin: 10px 6px;
}
.notice-con .mod ul li{
	float: left;
	width: 143px;
	height: 25px;
	overflow: hidden;
}