body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}
#container:after {
	content: "";
	display: block;
	clear: both;
}
#container {
	width: 1300px;
	margin: 0 auto;
}
#container .img-box {
	cursor: pointer;
}
#container .img-box {
	float: left;
	padding: 5px;
}
#container .img-box img {
	width: 250px;
	height: auto;
}