<%- include header %>

<div class="am-g">
    <div class="am-u-lg-8 am-u-sm-centered">
        <form method="post" class="am-form">标题:<br/>
            <input type="text" name="title"><br/>正文:<br/>
            <textarea name="post" rows="20" cols="90"></textarea><br/>
            <input type="submit" value="发表" class="am-btn am-btn-primary">
        </form>
    </div>
</div>

